/*----------
    RESET
----------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------
TYPHOGRAPHY
----------*/

body {
    font-family: 'Open Sans', sans-serif;
}
.hero h1 {
    padding-top:70px;
    font-size: 51px;
    font-weight: 800;
}

.hero p {
    font-size: 13px;
}

.top-row h3{
    font-size: 30px;
}

.top-row span {
font-size: 11px;
}

ul {
    list-style: none;
}

.trial {
    font-size: 18px;
}

.col-33  strong {
    font-size: 10px;
}

.li-10  {
    font-size: 10px;
}
.col-33 li {
    font-size: 10px;
    margin-bottom: 10px;
}


/*----------
GRID LAYOUT
----------*/
.container {
    margin: auto;
    max-width: 960px;
}
.container-800 {
    max-width: 800px;
    margin: auto;
}
.col-30 {
    width: 30%;
}

.col-70 {
    width: 70%;
}

.row-800 {
    max-width: 800px;
    display: flex;
}

.col-33 {
    width: 33;
}



/*----------
   BUTTONS
----------*/

button {
    font-size: 13PX;
    color: #ffffff;
    background-color: #0061ff;
    padding: 8px 16px;
    border: none;
}

/*----------
   HEADER
----------*/


header {
    font-size: 13px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
}

.h-left {
    gap: 20px;
    display: flex;
    padding-left: 20px;
}

.h-right {
    padding-top: 5px;
    align-items: center;
    display: flex;
    padding-right: 20px;
}

.h-nav ul {
    gap: 20px;
    display: flex;
    list-style: none;
}

header a {
    font-weight: 500;
    color: #676767;
    text-decoration: none;
}

.h-nav {
    display: flex;
}

.h-nav button {
    margin-top: -4px;
}

#accedi {
   margin-right: 20px;
}

/*----------
   MAIN
----------*/

.hero {
    background-color: #b4d0e7;
}

.hero img {
    width: 100%;
}

.row-large {
    display: flex;
    position: relative;
    bottom: -70px;
}

.h1-hero {
    max-width: 700px;
}

.col-30 p, .hero-button {
    margin-bottom: 20px;
}

.fa-arrow-down {
    margin-top: 35px;
    font-size: 25px;
}

.top-row {
    margin-top: 160px;
    min-height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-800 {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.user-list li {
    margin-bottom: 15px;
}

.user-list {
    margin-top: 30px;
}

.col{
    
    margin: auto;
    margin-top: 30px;
    max-width: 80%;
}

.border {
    border: 1px solid #d0d0d3;
}

.button-col {
    font-size: 12px;
    width: 100%;
}


