/*----------
    RESET
----------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------
TYPHOGRAPHY
----------*/

body {
    font-family: 'Open Sans', sans-serif;
}


.hero h1 {
    padding-top:70px;
    font-size: 51px;
    font-weight: 800;
}

li  {
    font-size: 12px;
}
.hero p {
    font-size: 13px;
}

.top-row h3{
    font-size: 30px;
}

.top-row span {
font-size: 11px;
}

ul {
    list-style: none;
}

.trial {
    font-size: 18px;
}

.col-33  strong {
    font-size: 10px;
}

.li-10  {
    font-size: 10px;
}
.col-33 li {
    margin-bottom: 10px;
}

.title {
    padding: 7px 0px;
    font-size: 13px;
    text-align: center;
    border-bottom:1px solid  #d0d0d3;
}

.subtitle {
 font-size: 14px;
}

hr {
    margin-top: 25px;
    color: #d0d0d3;
    width: 20%;
}

.link-a {
    font-size: 10px;
}
.banner p {
    font-size: 15px;
}

/*----------
GRID LAYOUT
----------*/
.container {
    margin: auto;
    max-width: 960px;
}
.container-800 {
    max-width: 800px;
    margin: auto;
}
.col-30 {
    width: 30%;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.row-800 {
    max-width: 800px;
    display: flex;
    margin: auto;
}

.col-33 {
    width: 33%;
}

.border {
    border: 1px solid #d0d0d3;
}

.sec-contacts {
    margin-top: 50px;
}

#h2-main {
    font-size: 30px;
}
.justify-b {
    justify-content: space-between;
}

.margin {
    margin: 30px 29px;
}
/*----------
   BUTTONS
----------*/

button {
    font-size: 13PX;
    color: #ffffff;
    background-color: #0061ff;
    padding: 8px 16px;
    border: none;
}


.button-col {
    font-size: 12px;
    width: 100%;
    margin-bottom: 20px;
}

.button-white {
    border: 1px solid black;
    background-color: #ffffff;
    color: black;
}
/*----------
   HEADER
----------*/


header {
    font-size: 13px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
}
.logo {
    margin-top: -5px;
}
.h-left {
    gap: 20px;
    display: flex;
    padding-left: 20px;
}

.h-right {
    padding-top: 5px;
    align-items: center;
    display: flex;
    padding-right: 20px;
}

.h-nav ul {
    gap: 20px;
    display: flex;
    list-style: none;
}

header a {
    font-weight: 500;
    color: #676767;
    text-decoration: none;
}

.h-nav {
    display: flex;
}

.h-nav button {
    margin-top: -7px;
}

#accedi {
   margin-right: 20px;
}

.hero {
    min-height: 592px;
}

/*----------
   MAIN
----------*/

.bussines div {
    margin-bottom: 25px;
}

.hero {
    background-color: #b4d0e7;
}

.hero img {
    width: 100%;
}

.row-large {
    display: flex;
    position: relative;
    bottom: -70px;
}

.h1-hero {
    max-width: 700px;
}

.col-30 p, .hero-button {
    margin-bottom: 20px;
}

.fa-arrow-down {
    margin-top: 35px;
    font-size: 25px;
}

.top-row {
    min-height: 125px;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-800 {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.user-list li {
    margin-bottom: 15px;
}

.user-list {
    margin-top: 30px;
}

.col{
    margin: auto;
    margin-top: 30px;
    max-width: 80%;
}

table, td, th {
    border: 1px solid #d0d0d3;
    border-collapse: collapse;
}

i {
    padding-right: 5px;
}
 
.fa-check {
    color: #0061ff;
}

.col-30 a, hr{
    margin-bottom: 20px;
}

.trial {
    margin-bottom: 12px;
}

.col-long {
    border-bottom: 1px solid #d0d0d3;
    min-height: 711.8px;
}

/*----------
SECTION CONTACTS
----------*/

.sec-contacts .contact-col {
    width: 240px;
}

.sec-contacts button {
    width: 191px;
    margin-right: 24px;
    margin-top: 30px;
}

.sec-contacts strong {
    font-size: 10px;
}

.sec-contacts p {
    color: #676767;
    font-size: 11px;
    margin-top: 45px;
}

/*----------
SECTION PARTNER
----------*/

.partner img {
    width: 100%;
}

.partner p {
    margin-bottom: 20px;
    color: #676767;
    font-size: 13px;
}

.partner .col-40 {
    padding-right: 40px;
}

.partner .row-800
 {
    margin-top: 85px;
 }

 .partner h4 {
    padding-top: 30px;
 }

 /*----------
SECTION BANNER
----------*/

.banner div {
    background-color: white;
}

.banner img {
    width: 100%;
}

.banner .container-800{
    display: flex;
}

.banner-row {
    margin-top: 50px;
}